joblib==1.5.3
llvmlite==0.47.0
numba==0.65.1
numpy==2.4.6
packaging==26.2
pandas==3.0.3
patsy==1.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.18.0
six==1.17.0
statsmodels==0.14.6
tzdata==2026.2
